@import '~antd/dist/antd.css';


.container {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.counter {
  font-size: 20em;
}

.control {
  display: flex;
  align-items: baseline;
}

.button {
  margin: 0px 10px;
}

.decrement-button {
  font-size: 2em;
}

.increment-button {
  font-size: 2em;
}
